.message-container {
    position: relative;
    padding: 20px 20px;
    display: flex;
    align-items: center; 
    gap: 10px 30px;
    border-top: 1px solid grey;
}

.drop-down-icon {
    position: absolute;
    color: white;
    font-size: 13px;
    top: 20px;
    right: 15px;
    font-family: 'Material Icons', sans-serif;
    font-size: 25px;
    user-select: none;
    border-radius: 100%;
    cursor: pointer;
}

.date-container {
    position: absolute;
    color: rgb(0, 195, 255);
    font-size: 13px;
    top: 0;
    right: 15px;
}

.tag-container {
    position: absolute;
    bottom: 6px;
    right: 15px;
    color: white;
    font-size: 13px;
    background-color: var(--bg-color);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 1em;
    font-weight:600;
}

.additional-info {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.additional-info .additional-typ {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 10px;
}
.additional-info .additional-content {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.message-content{
    padding-right: 30px;
}

  
.slide-enter {
    max-height: 0;
    opacity: 0;
}
.slide-enter-active {
    max-height: 100px;
    opacity: 1;
    transition: max-height 300ms ease-in, opacity 300ms ease-in;
}
.slide-exit {
    max-height: 100px;
    opacity: 1;
}
.slide-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-out, opacity 300ms ease-out;
}